/*****************************************************************************/
/*                                  General                                  */
/*****************************************************************************/
body {
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
}

button {
  border-radius: 0.75em;
}

.green-bg {
  background-color: #70c7a9;
}

.green-fg {
  color: #70c7a9;
}

/* FIXME: way too dark */
.grey-bg {
  background-color: #969696;
}

.grey-fg {
  color: #969696;
}

.dark-purple-bg {
  background-color: #606b9b;
}

.dark-purple-fg {
  color: #606b9b;
}

.white-bg {
  background-color: #ffffff;
}

.white-fg {
  color: #ffffff;
}

.black-fg {
  color: #000000;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.helvetica {
  font-family: helvetica, "angry font >:(";
}

/*****************************************************************************/
/*                                  Specific                                 */
/*****************************************************************************/
#root {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

section.title-add {
  flex: 1.3;

  display: flex;
  flex-direction: row;

  padding-top: 4%;
  padding-left: 5%;
  padding-right: 5%;
}

div.title-add-format {
  flex: 1;

  /* this doesn't apply to the right one, since it's empty anyways */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#review-button {
  justify-self: left;

  font-size: 0.9em;

  padding: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

section.title-add > h3 {
  flex: 1;

  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

section.card-add {
  flex: 6;

  display: flex;
  flex-direction: column;

  width: auto;
  padding-left: 13%;
  padding-right: 13%;
}

figure.card-add {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #000000;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
}

#card-en-add {
  flex: 1;

  display: block;
  border: 0px none;
  outline: none;
  resize: none;

  height: 5em;
  /* 100% - padding-left and padding-right of figure.card-add */
  width: 96%;
  /* this is required for the above to work */
  min-width: 0%;

  font-size: 1.2em;
  text-align: center;
}

#card-en-add::placeholder {
  color: #969696;
  /* firefox pls */
  opacity: 1;
}

#card-tl-add {
  flex: 1;

  /* height: 4em; */
  font-size: 1.2em;
  text-align: center;
}

div.save-button {
  flex: 1.2;

  display: flex;
  justify-content: flex-end;
  align-items: start;

  padding-top: 5%;
  /* sum of margins of figure.card-add and padding of section.card-add */
  padding-left: 15%;
  padding-right: 15%;
}

button.save-button {
  font-size: 1em;

  padding: 0.5em;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

aside.user-add {
  /* we want this as em to keep the same height as text */
  flex: 0 0 2.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1em;
}

/* desktop + tablet */
@media only screen and (min-width: 481px) {
  section.title-add {
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
  }

  #review-button {
    font-size: 1em;

    padding-left: 2em;
    padding-right: 2em;
  }

  section.title-add > h3 {
    font-size: 3em;
  }

  section.card-add {
    flex: 5;

    flex-direction: row;

    width: auto;
    padding-top: 6%;
    padding-left: 13%;
    padding-right: 13%;
  }

  figure.card-add {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #card-en-add {
    height: 5em;
  }

  #card-tl-add {
    height: 4em;
  }

  div.save-button {
    flex: 2;

    align-items: center;

    padding-top: 0%;
    /* sum of margins of figure.card-add and padding ofQsection.card-add */
    padding-left: 15.5%;
    padding-right: 15.5%;
  }

  button.save-button {
    padding-left: 2em;
    padding-right: 2em;
  }

  aside.user-add {
    flex: 0 0 2em;
  }

  /* patch up tablet differences */
  @media only screen and (max-width: 800px) {
    section.title-add {
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
    }

    #review-button {
      padding-left: 1em;
      padding-right: 1em;
    }

    section.card-add {
      flex: 3;
      padding-top: 10%;
      padding-bottom: 7%;
      padding-left: 4%;
      padding-right: 4%;
    }

    figure.card-add {
      margin-left: 2%;
      margin-right: 2%;
    }

    div.save-button {
      align-items: flex-start;

      /* section.card-add padding + figure.card-add margin */
      padding-left: 6%;
      padding-right: 6%;
    }

    aside.user-add {
      flex: 0 0 2.5em;
    }
  }
}
