main {
  display: flex;
  flex-direction: row;

  height: 100%;
  width: 100%;
}

#login-screen-left {
  flex: 45;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 8%;
}

#login-title {
  font-size: 2.7em;
}

#login-subtitle {
  font-size: 1.4em;
}

#login-screen-right {
  flex: 55;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#login-prompt {
  display: flex;
  flex-direction: column;

  padding-left: 20%;
  padding-right: 20%;
}

#signin-text {
  font-size: 2.1em;
}

input.login {
  padding-left: 0.6em;
  font-size: 1em;
}

#login-button {
  margin-left: auto;
}
