#root {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

button {
  border-radius: 0.75em;
}

section.titlebar {
  flex: 1.3;

  display: flex;
  flex-direction: row;

  padding-top: 4%;
}

textarea {
  outline: none;
  box-shadow: none;
  resize: none;
}

textarea:focus {
  outline: none;
  box-shadow: none;
}

.titlebar-add-padding {
  padding-left: 5%;
  padding-right: 5%;
}

/* TODO */
.titlebar-review-padding {
  padding-left: 5%;
  padding-right: 5%;
}

div.titlebar-format {
  flex: 1;

  /* this doesn't apply to the right one, since it's empty anyways */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#review-button {
  justify-self: left;

  font-size: 0.9em;

  padding: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#add-button {
  justify-self: left;

  font-size: 0.9em;

  padding: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
}

#top-button:hover {
  cursor: pointer;
}

section.titlebar > h3 {
  flex: 1;

  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

section.card-add {
  flex: 6;

  display: flex;
  flex-direction: column;

  width: auto;
  padding-left: 13%;
  padding-right: 13%;
}

figure.card-add {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #000000;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
}

#card-en-add {
  flex: 1;

  display: block;
  border: 0px none;
  overflow: hidden;

  min-height: 0%;
  max-height: 100%;
  /* 100% - padding-left and padding-right of figure.card-add */
  width: 96%;
  /* this is required for the above to work */
  min-width: 0%;

  font-size: 1.2em;
  text-align: center;
}

#card-en-add::placeholder {
  color: #969696;
  opacity: 1;
}

#card-tl-add {
  flex: 1;

  font-size: 1.2em;
  text-align: center;
}

div.save-button {
  flex: 1.2;

  display: flex;
  justify-content: flex-end;
  align-items: start;

  padding-top: 5%;
  /* sum of margins of figure.card-add and padding of section.card-add */
  padding-left: 15%;
  padding-right: 15%;
}

section.card-review {
  flex: 6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#flip-card {
  flex: 3;

  width: 75%;

  /* margin-left: 10%; */
  /* margin-right: 10%; */

  margin-bottom: 4vh;
}

figure.card-review {
  flex: 1;

  width: 75%;

  border: 1px solid #000000;
}

#card-en-review {
  box-sizing: border-box;
  width: 96%;
  /* firefox does the dumb here */
  height: 100%;

  font-size: 1.2em;
  padding: 0.7em;
}

div.save-button {
  flex: 1.2;

  display: flex;
  justify-content: flex-end;
  align-items: start;

  width: 70%;
  padding-top: 5%;
  /* sum of margins of cards and padding of outer container */
  padding-left: 15%;
  padding-right: 15%;
}

div.next-button {
  flex: 1.2;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 75%;
  /* padding-top: 10%; */
  /* sum of margins of cards and padding of outer container */
  /* padding-left: 12.5%; */
  /* padding-right: 12.5%; */
}

button.action-button {
  font-size: 1em;

  padding: 0.5em;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

button.action-button:hover {
  cursor: pointer;
}

aside.user-add {
  /* we want this as em to keep the same height as text */
  flex: 0 0 2.5em;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1em;
}

/* desktop + tablet */
@media only screen and (min-width: 481px) {
  section.titlebar {
    padding-top: 2%;
  }

  .titlebar-add-padding {
    padding-left: 4%;
    padding-right: 4%;
  }

  #top-button {
    font-size: 1em;

    padding-left: 2em;
    padding-right: 2em;
  }

  section.titlebar > h3 {
    font-size: 3em;
  }

  section.card-add {
    flex: 5;

    flex-direction: row;

    width: auto;
    padding-top: 6%;
    padding-left: 13%;
    padding-right: 13%;
  }

  figure.card-add {
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  #flip-card {
    width: 60%;
    /* padding-left: 20%; */
    /* padding-right: 20%; */
  }

  figure.card-review {
    width: 60%;
    /* padding-left: 20%; */
    /* padding-right: 20%; */
  }

  div.save-button {
    flex: 2;

    align-items: center;

    width: 69%;
    padding-top: 0%;
    /* sum of margins of figure.card-add and padding ofQsection.card-add */
    padding-left: 15.5%;
    padding-right: 15.5%;
  }

  div.next-button {
    width: 60%;
  }

  button.action-button {
    padding-left: 2em;
    padding-right: 2em;
  }

  aside.user-add {
    flex: 0 0 2em;
  }

  /* patch up tablet differences */
  @media only screen and (max-width: 800px) {
    section.titlebar {
      padding-top: 5%;
    }

    .titlebar-add-padding {
      padding-left: 5%;
      padding-right: 5%;
    }

    .titlebar-review-padding {
      padding-left: 10%;
      padding-right: 10%;
    }

    #top-button {
      padding-left: 1em;
      padding-right: 1em;
    }

    section.card-add {
      flex: 3;
      padding-top: 10%;
      padding-bottom: 7%;
      padding-left: 4%;
      padding-right: 4%;
    }

    figure.card-add {
      margin-left: 2%;
      margin-right: 2%;
    }

    #flip-card {
      flex: 3;

      width: 80%;

      /* margin-left: 10%; */
      /* margin-right: 10%; */

      margin-bottom: 6%;
    }

    figure.card-review {
      flex: 1;

      width: 80%;

      border: 1px solid #000000;
    }

    div.save-button {
      align-items: flex-start;

      width: 88%;
      /* section.card-add padding + figure.card-add margin */
      padding-left: 6%;
      padding-right: 6%;
    }

    div.next-button {
      align-items: flex-start;

      width: 80%;
      /* section.card-add padding + figure.card-add margin */
      padding-top: 5%;
      padding-left: 5%;
      padding-right: 5%;
    }

    aside.user-add {
      flex: 0 0 2.5em;
    }
  }
}
