/*- Typograpy and resets -*/
/* html { */
/*   font-size: 16px; */
/* } */

/* body { */
/*   font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; */
/*   font-size: 100%; */
/*   background-color: #fff; */
/* } */

h1,
h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
}

.card-side-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

/*- Card container -*/
.card-container {
  position: relative;
  z-index: 1;
  /* margin: 32px auto; */
  /* margin-left: 10%; */
  /* margin-right: 10%; */
  /* max-width: 720px; */
  /* height: 420px; */
  height: 100%;
  width: 100%;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

/*- Card body -*/
.card-body {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 0.7s linear;
}

/*- Flipping the card -*/
/* TODO flip class is card-container-flip */
.card-container-flip .card-body {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card-container-flip > .card-body > .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility 0.75s linear;
}

/*- Card sides -*/
.card-side {
  border: 1px solid #000000;

  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07); */
}

/*- Back side -*/
.side-back {
  z-index: 2;
  /* padding: 32px; */
  text-align: center;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

input,
textarea {
  padding: 8px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #eee;
  border-left: 0;
}
/* input:focus, */
/* textarea:focus { */
/*   outline: 0; */
/*   border-bottom: 1px solid #0c81f6; */
/* } */

/* textarea { */
/*   max-height: 80px; */
/*   resize: vertical; */
/* } */

/* .btn-primary { */
/*   padding: 8px 16px; */
/*   font-size: 16px; */
/*   background-color: #0c81f6; */
/*   border: none; */
/*   box-shadow: 0 10px 35px rgba(50, 50, 93, 0.1), 0 2px 15px rgba(0, 0, 0, 0.07); */
/*   transition: background-color 0.25s ease-in, box-shadow 0.25s ease-in; */
/* } */

/* .btn-primary:focus, */
/* .btn-primary:hover { */
/*   background-color: #56a7f9; */
/*   box-shadow: 0 18px 35px rgba(50, 50, 93, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07); */
/* } */

#congrats,
#trans {
  font-size: 1.2em;
}

.flip-icon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.flip-icon > img {
  /* the image isn't actually square */
  margin-top: 0.3em;
  margin-right: 0.5em;

  width: 2em;
  height: auto;
}

.review-correct {
  font-size: 1.7em;
  font-weight: bold;

  background-color: #d6ffb1;
  color: #6aaf47;

  border: 1px solid #6aaf47;

  height: 45%;
  width: 75%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
  .review-correct {
    width: 60%;
  }
}

@media only screen and (min-width: 801px) {
  .review-correct {
    width: 50%;
  }
}
